---
const { label, time } = Astro.props;
---

<div class="guess-frame" data-time={time}>
    <div class="guess-features">
        <button class="play">PLAY</button>
        <div class="guess-box">
            <input id="current-guess" placeholder="GUESS A SONG" autocomplete="off">
            <button class="submit">SKIP</button>
        </div>
    </div>
    <div class="clue-type">{label}</div>
</div>

<script src="../scripts/clues.ts"></script>